body{
    background-color:black;
    font-style: oblique;
}
header{
   margin-left: 40%; 
    /* height: 100px; */
    /* width: 500px; */
padding: 20px;
/* text-align: match-parent; */
}
input:checked+label[for="male"],:checked+label[for="female"]{
    color: red;
    background-position: 0 0;
}

label{
 font-family : cursive;
}
label[for ="male"],label[for ="female"]{
    margin-bottom: 10px;
    padding-left: 26px;
    display: inline-block;
    background: url(styling-html5-forms-playlist-master/img/checks.png) no-repeat;
  background-position: 0 -32px; 
  line-height: 20px;
   cursor: grab;
}
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin:0 ;
}
label[for="web"],label[for="webdesign"],label[for="photoshop"]{
  display: inline-block;
    margin-bottom: 8px;
   padding-left: 26px;
   background: url(styling-html5-forms-playlist-master/img/checks.png) no-repeat;
 background-position: 0 -100px;
 cursor: grab;
 line-height :20px;
}
input:checked+label[for="web"],:checked+label[for="webdesign"],:checked+label[for="photoshop"]{
 background-position: 0 -66px;
 color: red;
}
input[type="date"]{
    background:  linear-gradient(rgb(0, 162, 255),rgb(230, 142, 11));
    font-size: 16px;
    font-style: oblique;
    border: 2px solid  rgb(0, 255, 234);
  
}
select{
    width:90px;
    background:  linear-gradient(rgb(0, 162, 255),rgb(230, 142, 11));
    font-size: 14px;
    font-style: oblique;
    margin-top: 10px;
    margin-left: 5px ;

}
input[type="email"],input[type="password"],input[type="telephone"] {
    margin-left: 5px;
    width: 300px;
    border: 1px solid red;
 background: url(styling-html5-forms-playlist-master/img/inputs.png) no-repeat;
    margin-bottom: 8px;
   height: 20px;
   color:  black;
   font-size: 15px;
}
input[type="email"]{
    width: 270px;
    padding-left: 30px;
    background-position: 0 0;
    background-color: rgb(104, 103, 103);
}

input[type="telephone"]{
    width: 270px;
    padding-left: 30px;
    background-color: rgb(104, 103, 103);

    background-position: 0 -66px;
   
}
input[type="password"]{
    height: 22px;
    background: url(styling-html5-forms-playlist-master/img/untitled.png) no-repeat;
    width: 270px;
    padding-left: 30px;
    background-color: rgb(104, 103, 103);

    background-position: 0 -1px;
    
}
fieldset{
    background-color: rgba(161, 128, 128, 0.13);
}
input[type="email"]:valid,input[type="password"]:valid,input[type="telephone"]:valid{
border: 2px solid  aqua; 
}
input[type="email"]:valid{

    background: url(styling-html5-forms-playlist-master/img/inputs[1].png) no-repeat;
    background-position : 0 0;
    background-color: rgb(104, 103, 103);

}
input[type="password"]:valid{
    background: url(styling-html5-forms-playlist-master/img/2.png) no-repeat;
    background-position : 0 0;
    background-color: rgb(104, 103, 103);

}
input[type="telephone"]:valid{
    background: url(styling-html5-forms-playlist-master/img/inputs.png) no-repeat;
    background-position : 0 -106.1px;
    background-color: rgb(104, 103, 103);

}

input[type="radio"]{

   opacity: 0; 
  width: 0;
  margin: 0;
}
.dude{
    color: red;
    margin-bottom: 20px;
    margin-left: 40%;
}

form{

    background-color : rgb(0, 0, 0);
    color: rgb(199, 174, 174);
   
}

h4{ 
    font-size: 19px;
    margin: 1%;
    color: rgb(231, 135, 25);
  
}
div{
 margin-left:0px; 
 margin-top: 20px;
 

 z-index: 1;
}
.shade{
    color: white;
   background:  linear-gradient(red,black);
    box-shadow: 10px 2px 10px rgba(10,20,39);
}

h1{
    color:  red;
    margin-top :10px;
}